nav {  
   background-color: rgb(70, 120, 95);    
   color: aliceblue;                   
   font-size: 1em;                       
   position: fixed;                        
   z-index: 1;                              
   left: 0;                             
   top: 0;
   bottom: 0;
   cursor: pointer;                         
}

nav svg {
   margin-top: 15px;   
   width: 34px;  
   padding: 10px;    
}

.contenu-sommaire {
   margin-top: -185px;
   margin-left: 50px;
   padding: 0 10px 0 10px;
   display: none;
}


nav:hover .contenu-sommaire {
   display: block;
}

nav a {
   text-decoration: none;  
   color: aliceblue; 
}


/* ---------------------------------------------------------------------------------------- */


section {
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 50px;
   padding: 0 100px 0 100px;
}

footer img {
   width: 100%;
   margin-top: 20px;
}