
nav {  
   background-color: rgb(71, 121, 96);    
   color: aliceblue;                    
   font-size: 1em;                         
   position: fixed;                       
   z-index: 1;                              
   left: 0;                                  
   top: 0;
   bottom: 0;
   cursor: pointer;                         
}

nav svg {
   margin-top: 30px;   
   width: 30px;
   height: 30px;
   font-size: 10em;
}

.sommaire {
   padding: 10px;          
   cursor: pointer;       
   margin-top: 75px;
}

.contenu-sommaire {
   display: none;
   margin-top: -70px;     
   list-style-type:none;  
}

.contenu-sommaire a {
   margin-top: 50px;
}

/* .indx {

} */


nav:hover .contenu-sommaire {
   display: block;
}

nav a {
   text-decoration: none;  
   color: aliceblue; 
}